@import 'variables.scss';

@media (max-width: 390px) {
    header{
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        p{
            font-size: 12px;
            display: flex;
        }
        nav{
            ul{
                li{
                    font-size: $smallSize;
                    a{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    main{
        h1{
            font-size: $smallSize;
        }
        // index
        .indexText{
            margin: 30px;
            font-size: $smallSize;
        }
    }
    



    .nservicios{
        img{
            height: 258px;
        }
    } 
    .packs{
        margin: 40px;
        font-size: 16px;
    }
    .packImg{
        flex-wrap: wrap;
        img{
            padding-right: 0px;
            padding-bottom: 60px;
            height: 243px;
            width: 275px;
        }
    }
    .ubiTitle{
        padding: 0px;
    }
    .map{
        margin: 40px;
    }
    .direc{
        font-size: 15px;
        padding: 20px;
        padding-bottom: 50px;
    }
    .contactRow{
        padding: 23px;
    }
    .col p{
        font-size: 14px;
    }
    .imgSection{
        .spaImg{
            width: 370px;
        }
    }
    .seguinosContainer img{
        width: 22px;
        .seguinos{
            font-size: 12px;
        }
    }



}

@media (max-width: 576px) and (min-width: 390px){

}

@media (max-width: 768px) and (min-width: 576px){
    h1{
        font-size: 35px;
    }
    .indexImg{
        width: 490px;
        height: 331px;
    }
    .indexText{
        margin: 35px;
        font-size: 20px;
    }

    .seguinosContainer{
        img{
        width: 25px;
        }
        .seguinos{
            font-size: 14px;
        }
    }
    .packs{
        margin: 54px;
        font-size: 17px;
    }
    .packImg{
        display: grid;
    }
    .packImg img{
        padding-right: 0px;
        padding-bottom: 60px;
        height: 278px;
        width: 341px;
    }

} 